[submodule "3rdpart/jwt-cpp"]
	path = 3rdpart/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "3rdpart/workspace"]
	path = 3rdpart/workspace
	url = https://github.com/CodingHanYa/workspace.git
